
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --orange: #f78200;
    --blue: #007ec8;
}

html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    /* font-family: 'Roboto-300'; */
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;    

}

h1,h2,h3,h6{
    font-family: 'Helvetica';
    /* font-weight: 300;gir */
    font-size: 26px;
    color: #000000c0;
}
.container{
    flex-basis: 1;
    flex-grow: 1;
    margin:1vw 11vw;
}

.div1{
    padding: 5px 5px;
}
.ul1{
    overflow: hidden;
    list-style-type: none;
    float: right;
}
.ul1 li{
    float: left;
    padding: 1px 10px;
}
.ul1 li a{
    display: block;
    color: rgb(0, 0, 0);
    padding: 1px 16px;
}
.ul1 li a:hover{
    color: rgb(0, 136, 255);
}
.ul1 a:not(.dd){
    border-right: 1px solid black;

}

.div2{
    padding: 30px 5px;
}
.logo{
    float: left;    
}
.fa-solid{
    float: right;
    display: none;  
}
.ul2{
    overflow: hidden;
    float: right;
}
.ul2 .li2{
    float: left;
    padding: 2px 10px;
}
.ul2 .li2 a:not(.last){
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
}

.last{
    border-radius: 2vw;
    border: transparent;
    background-color: var(--orange);
    height: 23px;
    padding: 3px 10px;
    color: white;
    text-transform: capitalize;
}

.hidden{
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    padding: 15px 10px;
    max-width: 350px;
    min-width: 350px;
    /* outline: 1px solid rgb(214, 214, 214); */
    height: auto; 
    border-radius: 4px       
}
.list1 ul, .list2 ul{
    overflow: hidden; 
}
.list1 li,.list2 li{
    padding: 10px 10px;
    float: left;

}
.list1 a,.list2 a{
    color: rgb(0, 0, 0); 
    display: block;
    text-align: right;
    padding-left: 10px;
   

}

.list2 a{
    padding-left: 20px;
}

.list1{
    display: none;
    text-align: justify;
    font-size: 15px;
}
.list2{
    margin-left: -200px;
    display: none;
    text-align: justify;
    font-size: 15px;
    
}

.hlist3{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    padding: 20px 10px;
    max-width: 290px;
    font-size: 14px;
    min-width: 290px;
    height: auto; 
    /* outline: 1px solid rgb(189, 189, 189); */
    border-radius: 4px ;
    margin-left: 70px;
    
    
}
.hlist3 .verticals{
    display: block;
    float: left;
}
.hlist3 .useCases{
    display: block;
    float: right;
}
.hlist3 li{
    padding: 10px 10px;
}
.hlist3 a{
    color: rgb(0, 0, 0); 
    display: block;
    padding-left: 10px 10px;
}

.dropfe{
    display: inline;
}
.dropin{
    display: inline;
}
.dropso{
    display: inline;
}
.dropfe:hover .list1{
    display: block;
    box-shadow: rgba(0, 0, 0,0.2) 0px 5px 10px;
    z-index: 1;
    animation:animee  0.2s ease-in;
}   
.dropin:hover .list2{
    display: block;
    box-shadow: rgba(0, 0, 0,0.2) 0px 5px 10px;
    z-index: 1;
    animation: animee  0.2s ease-in;
}   
.dropso:hover .hlist3{
    display: block;
    transition-delay: 10s;
    box-shadow: rgba(0, 0, 0,0.2) 0px 5px 10px;
    z-index: 1;
    animation: animee  0.2s ease-in;
}   
.li2:hover{
 opacity: 0.9;
}

@keyframes animee{
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(0px);
    }
}


/**/


.main_li{
    list-style-image: url(/Images/small.png);
}

.main_li li{
    padding: 12px;
}

body{
    position: relative;
    font-size: 14px;
    line-height: 1.42857;
    
}


main{
    position: relative;
    /* width: 80%; */
    display: flex;
    margin: auto;
    flex-direction: row-reverse ;

    background-color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 5px;
    padding-bottom: 50px;
    background-color: #fff;
    
    }

.containr{
    background-color: rgb(0, 126, 200);
    color: white;
    padding: 20px;
    margin: 50px;
    border-radius: 5px;
    max-width: 400px;
    height: auto;
    
}
legend{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
textarea{
    margin: 5px;
    min-width: 350px;
    padding: 2px;
    max-height: 60px;
    background-color: white;
    resize: none;
}
.general{
    margin: 5px;
    border: 0px transparent;
    min-width: 95%;
    border-radius: 2px;
    border-collapse: collapse;
    padding: 2px;
    height: 30px;  
    background-color: white;
}
.check{
    font-size: 12px;
    margin-top: 10px;
}
.first{
    font-size: 1.2em;
    margin: 20px auto;
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 24px;
    line-height: 1.1;
    color: #333;

    
}   
h3{
    font-weight: bolder;
    margin: 20px;
}
.visible{
    position: absolute;
    margin-top: 3px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
}
.invisible{
    display: none;

}
.visible:hover .invisible{
    display: inline-block;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 12px;
    margin-left: -235px; 
    margin-top: -135px; 
    padding: 5px;
}
.li{
    font-size: 10px;
    line-height: 30px;

}
/* .endz */
.containr a{
    color: white;
    text-decoration: underline;
}
.out_container{
    margin-left: 50px;

}

.button{ 
        
        width: 95%;
        margin-top: 10px;
        border: 0px transparent;
        border-radius: 5px; 
        color: white;  
        font-size: larger;
        font-weight: 700;
        padding: 0px 15px;
        height: 40px;
        background-color: rgb(247, 130, 0);
}

/**/



    footer{
        position: static;
        bottom: 0;
        display: flex;
        width: 100%;
        background-color: #eeeeee;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
    }
    .footer{
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        flex-wrap:  nowrap;
        flex-direction: row;
        align-items: flex-end;
    }

    .footer a{
        color: var(--blue);
        display: block;
        
    }
    .footer a:first-child{
        border-right: 1px solid rgba(0, 0, 0, 0.507);
        
    }

    .arrow{
        position: fixed;
        bottom: 0;
        animation: anima 3s;
    }


    
/* jlndwinwijpjwnwpnwpow */


@media (max-width:1022px) {
}





/* Tablets */
@media (max-width:768px) {
    main{
        flex-direction: column;
        width: 50%;
    }

    .containr{
        width: 97%;

    }

}


/* MObile phones */
@media (max-width:480px) {
    
}